
/*Big tablets to 1200 (widths smaller than row: 1140px*/

@media only screen and (max-width: 1200px) {
    .showMore {
        left: 47%;
    }
}




/*SMALL TO BIG TABLETS: from 768px to 1023px*/

@media only screen and (max-width: 1023px) {
    
    /*Nav*/
    
    .mobile-nav-icon {
        display: inline-block;
        padding-right: 5%;
    }    
    .main-nav { 
        float: left;
        margin-top: 14px;
        display: none;
    }
    
    .main-nav li { 
        display: block;
        
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 5px 25px;
        font-size: 100%;
    }
    
    .sticky .main-nav {
        margin-top: 10px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
            text-decoration: none;
            color: black;
            -webkit-transition: border-bottom 0.2s, color 0.2s;
            transition: border-bottom 0.2s, color 0.2s;
    }
    
    .sticky .mobile-nav-icon { margin-top: 9px; }
    
    #logo{ 
        padding: 18px; 
        padding-left: 5%;
    }
    

    /*Content*/
    
    .col {
        width: 95%;
    }

    .span-1-of-4 { width: 49.2%; }
    
    .span-1-of-4:nth-child(2n+1) { margin-left: 0; }
    
    section { padding: 30px 0; }
    
    body { font-size: 12px; }
    
    #about p { 
        line-height: 175%; 
        font-size: 13px;
        padding-left: 80px;
    }
    
    h4 { font-weight: 400; }
    
    .box p {
        font-size: 90%; 
        word-spacing:5px;
    }
    
    .clip-container { 
        margin: 0 auto;
        padding-bottom: 0; }
    
    .half-box {
        width: 47.5%;
        margin: 1
    }
    
    label { float: left;}
    
}

/*PHONES TO SMALL TABLETS: from 481px to 767px*/

@media only screen and (max-width: 767px) {}

.btn:link,
.btn:visited,
input[type=submit] {padding: 8px 20px;}

#headshot { padding-left: 80px;}

#about p {padding-right: 80px;}

.contact-form { width: 70%; }

.clip-container h4 { font-size: 13px; }

.showMore {
    left: 45%;
    margin-top: 10px;
}





/*Small phones: from 0 to 480px*/

@media only screen and (max-width: 480px) {
    
    header {
        background-attachment: scroll;
    }
   
    #headshot{ 
        width: 90%;
        margin: 0 auto;
        float: none;
        padding-right: 0;
        padding-left: 0;
    }
    
    
    #about p{
        margin: 0 auto;
        padding: 10px 30px;
        text-align: justify;
        float: none;
        line-height: 21px;
    }
    
    #about p:first-child { padding-top: 22px; }
    
    .js--wp-3 { display: none; }
    
    label {float: left;}
    input[type=submit] {float: right;}
    
    .span-1-of-4 {
        width: 90%;
        margin-left: 5%;
    }
    .span-1-of-4:nth-child(2n+1) { margin-left: 5%; }

    .col:first-child { margin-left: 5%; }
    
    .writing-clips {
        background-attachment: scroll;
    }
    
    .box {
        padding-bottom: 25px;
        margin-bottom: 19px;
        background-color: white;
        height: 245px;
    }
    .clip-container h6 { font-size: 11px}
    
    #about br { display: none; }
    .clip-container h4 { font-size: 13px; }
    
    .showMore {
    left: 40%;
    margin-top: 10px;
    width: 33%;
}

    .contact-form { width: 70%; }
    
    footer { text-align: center; }
    
    

}