
/*Big tablets to 1200 (widths smaller than row: 1140px*/

@media only screen and (max-width: 1200px) {}




/*SMALL TO BIG TABLETS: from 768px to 1023px*/

@media only screen and (max-width: 1023px) {
    
    /*Nav*/
    
    .mobile-nav-icon {
        display: inline-block;
        padding-right: 5%;
    }    
    .main-nav { 
        float: left;
        margin-top: 14px;
        display: none;
    }
    
    .main-nav li { 
        display: block;
        
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 5px 25px;
        font-size: 100%;
    }
    
    .sticky .main-nav {
        margin-top: 10px;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
            text-decoration: none;
            color: black;
            -webkit-transition: border-bottom 0.2s, color 0.2s;
            transition: border-bottom 0.2s, color 0.2s;
    }
    
    .sticky .mobile-nav-icon { margin-top: 9px;}
    
    #logo{ 
        padding: 18px; 
        padding-left: 5% }
    
    /*nav { height: 80px; }*/

    /*content*/
    
    section { padding: 30px 0; }
    
    body { font-size: 16px; }
    
    blockquote:first-of-type { color: red; }
    
    #about p {line-height: 150%;}
    
    h4 {font-weight: 400;}
    
    .box p {font-size: 90%; word-spacing:5px;}
    
    .clip-container {padding-bottom: 0;}
    
    blockquote {margin-top: 5px;}

    
}

/*PHONES TO SMALL TABLETS: from 481px to 767px*/

@media only screen and (max-width: 767px) {}

.btn:link,
.btn:visited,
input[type=submit] {padding: 8px 20px;}

/*Small phones: from 0 to 480px*/

@media only screen and (max-width: 480px) {}